<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>empLogin_proc</servlet-name>
        <servlet-class>Servlets.empLogin_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeePage</servlet-name>
        <servlet-class>Servlets.EmployeePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addTopping_proc</servlet-name>
        <servlet-class>Servlets.addTopping_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveTopping_proc</servlet-name>
        <servlet-class>Servlets.RemoveTopping_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fillOrder_proc</servlet-name>
        <servlet-class>Servlets.fillOrder_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order_proc</servlet-name>
        <servlet-class>Servlets.Order_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Order2_proc</servlet-name>
        <servlet-class>Servlets.Order2_proc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>orderConfirmation_proc</servlet-name>
        <servlet-class>Servlets.orderConfirmation_proc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>empLogin_proc</servlet-name>
        <url-pattern>/empLogin_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeePage</servlet-name>
        <url-pattern>/EmployeePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addTopping_proc</servlet-name>
        <url-pattern>/addTopping_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveTopping_proc</servlet-name>
        <url-pattern>/RemoveTopping_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fillOrder_proc</servlet-name>
        <url-pattern>/fillOrder_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order_proc</servlet-name>
        <url-pattern>/Order_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Order2_proc</servlet-name>
        <url-pattern>/Order2_proc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderConfirmation_proc</servlet-name>
        <url-pattern>/orderConfirmation_proc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
